<div class="wrap-table100">
  <div class="scroll">
    <form [formGroup]="mTForm" *ngIf="moduleTopics && moduleTopics.length > 0" (ngSubmit)="saveModuleTopic()">
      <div class="table" formArrayName="moduleTopics">
        <div class="row header">
          <div class="cell" [ngClass]="column.class" *ngFor="let column of tableColumn">
            <span class="label" style="font-size: small">{{column?.title}}</span>
          </div>
        </div>

        <!--      <div class="row" *ngFor="let rank of courseRank">-->
        <!--        <div class="cell" data-title="Usuário">-->
        <!--          <nb-user-->
        <!--            size="large"-->
        <!--            [name]="rank.login"-->
        <!--            [picture]="rank.imageUrl"-->
        <!--          >-->
        <!--          </nb-user>-->
        <!--        </div>-->
        <!--        <div class="cell" data-title="Pontos">-->
        <!--          <p>{{rank.point}}</p>-->
        <!--        </div>-->
        <!--        <div class="cell" data-title="Submissões">-->
        <!--          <p>{{rank.totalSub}}</p>-->
        <!--        </div>-->
        <!--      </div>-->

        <div class="row" *ngFor="let mT of moduleTopics; let i = index" [formGroupName]="i"
             [nbPopover]="tabs" [nbPopoverPlacement]="'left'" [nbPopoverTrigger]="'click'"
             (click)="selectedModuleTopic = mT"
        >
          <div class="cell text-left">
            <nb-checkbox formControlName="activated"></nb-checkbox>
          </div>
          <div class="cell text-left">
            <input [hidden]="true" nbInput formControlName="id">
            {{mT?.topic?.name}}
          </div>
          <div class="cell text-left">
            <div class="input-table">
              <input type="text" nbInput fullWidth status="basic" formControlName="maxGrade">
            </div>
          </div>
          <div class="cell text-left">
            <div class="input-table">
              <input type="text" nbInput fullWidth status="basic" formControlName="minScore">
            </div>
          </div>
          <div class="cell text-left">
            <div class="input-table">
              <input type="text" nbInput fullWidth status="basic" formControlName="targetScore">
            </div>
          </div>
          <div class="cell text-left">
            <div class="input-table">
              <input type="datetime-local" nbInput fullWidth status="basic" formControlName="startTime">
            </div>
          </div>
          <div class="cell text-left" data-title="Submissões">
            <div class="input-table">
              <input type="datetime-local" nbInput status="basic" fullWidth formControlName="endTime">
            </div>
          </div>
          <div class="cell text-right" data-title="action">
            <div class="input-table">
              <button nbButton ghost status="basic" (click)="selectedIndex = i">Salvar
              </button>
              <button nbButton ghost status="info" (click)="selectedIndex = i" [routerLink]="['topic',mT.topic.slug]">
                Detalhes
                <nb-icon icon="save-outline"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #tabs>
  <nb-card class="margin-bottom-0" *ngIf="selectedModuleTopic" style="max-width: 250px">
    <nb-card-header class="border-0 text-center my-3"><h6
      class="header-title-color">{{selectedModuleTopic?.topic?.name}}</h6></nb-card-header>
    <div class="row text-center">
      <div class="col-12">
        <nb-tag status="info" appearance="filled"
                [text]="'Habilitado em '+(selectedModuleTopic.activeTime.format('DD/MM/yyyy'))" size="small"></nb-tag>
        <nb-tag status="warning" appearance="filled"
                [text]="'Desabilitado em '+(selectedModuleTopic.activeTime.format('DD/MM/yyyy'))" size="small"></nb-tag>
        <nb-tag *ngIf="selectedModuleTopic.availableToDo" status="success" appearance="filled"
                text="Aberto" size="small"></nb-tag>
        <nb-tag *ngIf="!selectedModuleTopic.availableToDo" status="danger" appearance="filled"
                text="Fechado" size="small"></nb-tag>
        <nb-tag *ngIf="selectedModuleTopic.availableToSee" status="success" appearance="filled"
                text="Visivel" size="small"></nb-tag>
        <nb-tag *ngIf="!selectedModuleTopic.availableToSee" status="danger" appearance="filled"
                text="Alunos não podem ver" size="small"></nb-tag>
        <hr>
        <nb-tag status="success" appearance="filled"
                [text]="'Exercicos A: '+selectedModuleTopic.numAExercisesCached" size="small"></nb-tag>
        <nb-tag status="info" appearance="filled"
                [text]="'Exercicos B: '+selectedModuleTopic.numBExercisesCached" size="small"></nb-tag>
        <nb-tag status="warning" apearance="filled"
                [text]="'Exercicos C: '+selectedModuleTopic.numCExercisesCached" size="small"></nb-tag>
        <nb-tag status="danger" appearance="filled"
                [text]="'Exercicos D: '+selectedModuleTopic.numDExercisesCached" size="small"></nb-tag>
      </div>
    </div>
  </nb-card>
</ng-template>
