<!--<div class="table-responsive" style="min-height: 100px;max-height: 500px;overflow: auto;"-->
<!--     [nbSpinner]="loadingModuleRank" nbSpinnerStatus="info" nbSpinnerSize="giant">-->
<!--  <table class="table" style="border: black" *ngIf="moduleRank">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col" [ngClass]="column.class" *ngFor="let column of rankColumns">{{column.title}}</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let rank of moduleRank">-->
<!--      <td>-->
<!--        <nb-user-->
<!--          size="large"-->
<!--          [name]="rank.login"-->
<!--          [picture]="rank.imageUrl"-->
<!--        >-->
<!--        </nb-user>-->
<!--      <td class="text-center">-->
<!--        {{rank.point}}-->
<!--      </td>-->
<!--      <td class="text-center">-->
<!--        {{rank.totalSub}}-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<div class="wrap-table100">
  <div class="scroll">
    <div class="table">

      <div class="row header">
        <div class="cell" [ngClass]="column.class" *ngFor="let column of rankColumns">
          {{column?.title}}
        </div>
      </div>

      <div class="row" *ngFor="let rank of courseRank">
        <div class="cell" data-title="Usuário">
          <nb-user
            size="large"
            [name]="rank.login"
            [picture]="rank.imageUrl"
          >
          </nb-user>
        </div>
        <div class="cell" data-title="Pontos">
          <p>{{rank.point}}</p>
        </div>
        <div class="cell" data-title="Submissões">
          <p>{{rank.totalSub}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
