<div class="wrap-table100" *ngIf="skills && skills?.length > 0">
  <div class="table">
    <div class="row header">
      <div class="cell" [ngClass]="column.class" *ngFor="let column of tableColumn">
        <span class="label" style="font-size: small">{{column?.title}}</span>
      </div>
    </div>
    <div class="row" *ngFor="let skill of skills"
    >
      <div class="cell text-left" data-title="Cenário">
        {{skill?.testScenario?.name}}
      </div>
      <div class="cell text-left" data-title="Habilidade">
        {{skill?.skill?.name}}
      </div>
      <div class="cell text-left" data-title="Pontos">
        <nb-tag status="info" size="tiny" [text]="skill?.points"></nb-tag>
      </div>
    </div>
  </div>
</div>
<nb-card>
  <app-not-found-card class="m-3" *ngIf="!skills || skills?.length === 0"></app-not-found-card>
</nb-card>
