<nb-list>
  <nb-list-item *ngFor="let user of users" class="d-block">
    <div class="row">
      <div class="col-6 text-left">
        <nb-user [name]="user.name" [title]="user.title">
        </nb-user>
      </div>
      <div class="col-6 text-right text-center" *ngIf="authorities">
        <button nbButton class="mr-1" size="small">Notas</button>
        <button nbButton size="small" (click)="windowRef.minimize()" [routerLink]="[authorities.includes('teacher')?'teacher':'student','content']">
          Conteudo
        </button>
      </div>
    </div>
  </nb-list-item>
</nb-list>
