<div class="row clearfix layout-content">
  <div class="col-12">
    <app-changed-user-alert></app-changed-user-alert>
  </div>
  <div class="col-12">
    <div class="fNMGTf">
      <a [routerLink]="[routePrefix,'dashboard']">Dashboard</a>
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="20" height="20"
           width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
      <a
        [routerLink]="[routePrefix,'classroom','course',courseSlug]">{{courseSlug}}</a>
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="20" height="20"
           width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
      <a [routerLink]="[routePrefix,'classroom','course',courseSlug,'module',disciplineSlug]">{{disciplineSlug}}</a>
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="20" height="20"
           width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
      <a>{{topicSlug}}</a>
    </div>
  </div>
  <!--  <div class="col-lg-5 d-none d-lg-block col-xl-3">-->
  <!--    <nb-card>-->
  <!--      <nb-card-body>-->
  <!--        <nb-menu [items]="items"></nb-menu>-->
  <!--      </nb-card-body>-->
  <!--    </nb-card>-->
  <!--  </div>-->
  <div class="col-12 col-xl-7">
    <nb-card>
      <nb-card-header><h6 style="color: #8f9bb3">Conteúdo</h6></nb-card-header>
      <nb-card-body [nbSpinner]="loadingTopic" nbSpinnerStatus="info" nbSpinnerSize="giant"
                    style="min-height: 100px;">
        <div *ngIf="topic && topic.html" [innerHTML]="topic.html"></div>
        <app-not-found-card *ngIf="(!topic || !topic.html) && !loadingTopic"></app-not-found-card>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-xl-5">
    <nb-card accent="info" class="custom-sticky">
      <nb-card-header><h6 style="color: #8f9bb3">Exercícios</h6></nb-card-header>
      <nb-card-body>
        <span *ngIf="isTeacher">
        <nb-list *ngIf="!((!exercises || exercises?.length === 0) && !loadingExercise)" [nbSpinner]="loadingExercise" nbSpinnerStatus="info" nbSpinnerSize="giant" style="min-height: 100px;">
          <nb-list-item class="d-block topic-item" *ngFor="let exercise of exercises">
            <div class="row" [routerLink]="[url,exercise?.slug]">
              <div class="col-7 text-left">{{exercise?.name}}</div>
              <div class="col-5 text-right">
                <nb-tag class="m-1" size="small" status="info" appearance="filled"
                        [text]="'Dificuldade: '+exercise?.difficultyLevelId"></nb-tag>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
         <app-not-found-card
           *ngIf="!loadingExercise && (!exercises || exercises?.length === 0)"></app-not-found-card>
          </span>
        <span *ngIf="!isTeacher">
        <nb-list *ngIf="!((!exerciseResults || exerciseResults?.length === 0) && !loadingExercise)" [nbSpinner]="loadingExercise" nbSpinnerStatus="info" nbSpinnerSize="giant" style="min-height: 100px;">
          <nb-list-item class="d-block topic-item" *ngFor="let exerciseR of exerciseResults">
            <div class="row" [routerLink]="[url,exerciseR?.slugExercise]">
              <div class="col-5 text-left">{{exerciseR?.nameExercise}}</div>
              <div class="col-7 text-right">
                <nb-tag *ngIf="exerciseR?.idSubmission" class="m-1" size="tiny" status="success" appearance="outline"
                        [text]="'Resolvido'"></nb-tag>
                <nb-tag *ngIf="exerciseR?.nameRunResult" class="m-1" size="tiny" status="info" appearance="outline"
                        [text]="exerciseR?.nameRunResult"></nb-tag>
                <nb-tag class="m-1" size="tiny" status="info" appearance="outline"
                        [text]="'Dificuldade: '+exerciseR?.difficultyLevelId"></nb-tag>
<!--                <nb-tag *ngIf="exerciseR?.idSubmission" class="m-1" size="small" status="success" appearance="filled"-->
<!--                        [text]="exerciseR."></nb-tag>-->
              </div>
            </div>
          </nb-list-item>
        </nb-list>
          <app-not-found-card
            *ngIf="!loadingExercise && (!exerciseResults || exerciseResults?.length === 0)"></app-not-found-card>
          </span>
      </nb-card-body>
    </nb-card>
  </div>
</div>
