
<div class="timeline">
  <div class="container-t right" *ngFor="let mTs of moduleTopics; let i = index">
    <div class="date d-none d-xl-block">Nivel {{i+1}}</div>
    <span class="icon font-weight-bold">{{i+1}}</span>
    <div class="content">
      <div class="text-center row" style="display: flex; align-items: center;justify-content: space-around;">
        <div [routerLink]="[url,mT.topic.slug]" class="col-12 col-sm-6 col-md-3 my-1 topic-card" *ngFor="let mT of mTs"
             style="cursor: pointer;" (mouseenter)="selectTopic(mT)" (mouseleave)="unSelectTopic()">
          <div *ngIf="mT.availableToSee || isTeacher">
            <img [alt]="mT!.topic!.name" width="40" [src]="mT.topic.imageUrl">
            <p class="mt-3">{{mT.topic.name}}</p>
            <ng-container>
              <nb-tag size="tiny" status="success" appearance="filled" text="Aberto" *ngIf="mT.availableToDo"></nb-tag>
              <nb-tag size="tiny" status="danger" appearance="filled" text="Fechado" *ngIf="!mT.availableToDo"></nb-tag>
              <nb-progress-bar [value]="50" size="tiny" status="basic" class="mt-3"></nb-progress-bar>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
