<ul class="left-timeline">
  <li *ngFor="let mTs of moduleTopics; let i = index">
    <time datetime="2017-11-04T03:45" class="d-block d-md-none left-time"><span>Level {{i + 1}}</span></time>
    <div class="d-md-block d-none left-icon">{{i+1}}</div>
    <div class="left-label">
      <div class="row text-center">
        <div class="col-6 col-md-3 my-1" *ngFor="let mT of mTs" style="cursor: pointer;" (mouseenter) ="selectTopic(mT)"  (mouseleave) ="unSelectTopic()">
          <div *ngIf="mT.availableToSee">
            <img width="40" [src]="mT.topic.imageUrl">
            <p>{{mT.topic.name}}</p>
            <ng-container style="margin-top: -10px;">
              <nb-tag size="tiny" status="success" appearance="filled" text="Aberto" *ngIf="mT.availableToDo"></nb-tag>
              <nb-tag size="tiny" status="danger" appearance="filled" text="Fechado" *ngIf="!mT.availableToDo"></nb-tag>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<!--<ul class="timeline ml-2">-->
<!--  <li *ngFor="let mTs of moduleTopics; let i = index;">-->
<!--    <div class="timeline-badge">{{i + 1}}</div>-->
<!--    <div class="timeline-panel">-->
<!--      &lt;!&ndash;      <div class="timeline-heading">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h4 class="timeline-title">Mussum ipsum cacilds</h4>&ndash;&gt;-->
<!--      &lt;!&ndash;        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="timeline-body">-->
<!--        <div class="row mt-2">-->
<!--          <div class="col-12 col-sm-6 col-md-4 text-center" *ngFor="let mT of mTs"  [nbPopover]="templateRef">-->
<!--            <div *ngIf="mT.availableToSee"  (mouseenter) ="selectTopic(mT)"  (mouseleave) ="unSelectTopic()" class="table-hover">-->
<!--              <img class="topic-img" width="40" [src]="mT.topic.imageUrl" alt="">-->
<!--              <p>{{mT.topic.name}}</p>-->
<!--              <ng-container style="margin-top: -10px;">-->
<!--                <span class="badge badge-danger" *ngIf="!mT.availableToDo">Closed</span>-->
<!--                <span class="badge badge-success" *ngIf="mT.availableToDo">Opened</span>-->
<!--              </ng-container>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <ng-template #templateRef>-->
<!--    <nb-card class="mb-0">-->
<!--      <nb-card-header>{{selectedTopic.topic.name}}</nb-card-header>-->
<!--      <div class="row m-3">-->
<!--        <div class="col-12">-->
<!--          <span *ngIf="selectedTopic.availableToDo" class="badge badge-success">Fecha as {{selectedTopic.endTime.toISOString() | date: 'dd/MM/yyyy'}}</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nb-card>-->
<!--  </ng-template>-->
<!--  <li class="timeline-inverted">-->
<!--    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--        <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis,-->
<!--          vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque-->
<!--          neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat-->
<!--          elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit-->
<!--          auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque-->
<!--          augue. Aenean justo massa.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li>-->
<!--    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="timeline-inverted">-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li>-->
<!--    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--        <hr>-->
<!--        <div class="btn-group">-->
<!--          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">-->
<!--            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>-->
<!--          </button>-->
<!--          <ul class="dropdown-menu" role="menu">-->
<!--            <li><a href="#">Action</a></li>-->
<!--            <li><a href="#">Another action</a></li>-->
<!--            <li><a href="#">Something else here</a></li>-->
<!--            <li class="divider"></li>-->
<!--            <li><a href="#">Separated link</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li>-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="timeline-inverted">-->
<!--    <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>-->
<!--    <div class="timeline-panel">-->
<!--      <div class="timeline-heading">-->
<!--        <h4 class="timeline-title">Mussum ipsum cacilds</h4>-->
<!--      </div>-->
<!--      <div class="timeline-body">-->
<!--        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,-->
<!--          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra-->
<!--          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa-->
<!--          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->
