@import '../../@theme/styles/themes';
*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: nb-theme(background-basic-color-1);
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -1px;
}

.container-t {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 100%;
}

.container-t.left {
  left: 0;
}

.container-t.right {
  left: 0;
}

.container-t::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: -8px;
  background: #ffffff;
  border: 2px solid #0095ff;
  border-radius: 16px;
  z-index: 1;
}

.container-t.right::after {
  left: -8px;
}

.container-t::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  left: 8px;
  background: nb-theme(background-basic-color-1);
  z-index: 1;
}

.container-t.right::before {
  left: 8px;
}

.container-t .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #8f9bb3;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-t.left .date {
  left: -75px;
}

.container-t.right .date {
  left: -75px;
}

.container-t .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #8f9bb3;
  border: 2px solid #151a30;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #151a30;
  z-index: 1;
}

.container-t.left .icon {
  left: 56px;
}

.container-t.right .icon {
  left: 56px;
}

.container-t .content {
  padding: 30px 30px 30px 90px;
  background: nb-theme(background-basic-color-1);
  position: relative;
  border-radius: 25px 25px 25px 25px;
}

.container-t.right .content {
  padding: 30px 30px 30px 90px;
  //border-radius: 500px 500px 500px 500px;
}

.container-t .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  //color: #006E51;
}

.container-t .content p {
  //margin: 0;
  //font-size: 16px;
  //line-height: 22px;
  //color: #222b45;
}

@media (max-width: 767.98px) {
  .timeline::after {
    display: none;
  }
  .container-t.right::before{
    display: none;
  }
  .container-t.right .icon{
    left: -15px;
  }
  .container-t.right::after {
    display: none;
  }
  .container-t.right .content {
    padding: 30px 30px 30px 30px;
  }
  .topic-card {
    padding: 0;
    background-color:unset;
  }
}
* {
  font-family: 'Poppins', sans-serif;
}

img {
  filter: brightness(0);
}

.topic-card {
  background-color: unset;
  padding: 10px;
  border-radius: 7px;
  transition: 0.2s;
}

.topic-card:hover {
  transform: scale(1.1);
  //background-color: nb-theme(background-basic-color-3);
}
