<div class="row layout-content">
  <div class="col-12">
    <app-changed-user-alert></app-changed-user-alert>
  </div>
  <div class="col-12">
    <app-breadcrumb [last]="0" [classroom]="true" [courseSlug]="course?.slug"
                    [routePrefix]="routePrefix"></app-breadcrumb>
  </div>
  <div class="col-12 col-lg-5">
    <nb-card *ngIf="course" class="custom-sticky">
      <nb-card-header class="border-0 mb-2">
        <h6 class="header-title-color">{{course?.name}}</h6>
        <small style="font-size: 11px" class="dateRange">
          {{course.startDate.toISOString() | date:'dd/MM/yyyy'}} - {{course.endDate.toISOString() | date:'dd/MM/yyyy'}}
        </small>
      </nb-card-header>
      <nb-card-body>
        <nb-user size="giant"
                 [title]="course?.teacher?.email"
                 [name]="course?.teacher?.login"
                 [picture]="course?.teacher?.imageUrl"
        >
        </nb-user>
        <hr>
        <!--        <nb-card class="mt-4"status="basic" style="background-color: #212f4c;border: none">-->
        <!--                              <nb-card-header>-->
        <h6 style="font-size: 15px;">Módulos</h6>
        <!--                              </nb-card-header>-->
        <!--          <nb-card-body>-->
        <nb-list style="max-height: 500px;overflow: auto;border-radius: 10px;">
          <nb-list-item *ngFor="let module of course?.modules" class="d-block">
            <div class="row">
              <div class="col-4 text-left">
                <p style="padding-bottom: 0;margin-bottom: 0;color: #8f9bb3;">{{ module?.alias }}</p>
              </div>
              <div class="col-8 text-right">
                <div class="row">
                  <div class="col-12">
                    <button nbButton outline class="m-1" size="small" *ngIf="isTeacher"
                            [routerLink]="['/'+sF.routeAuthSwitch(authorities,true)+'manager/course',course?.slug,'module',module?.discipline?.slug]">
                      Gerenciar
                    </button>
                    <button nbButton outline class="m-1" size="small" *ngIf="authorities"
                            [routerLink]="['/'+sF.routeAuthSwitch(authorities,true)+'classroom/course',course?.slug,'module',module?.discipline?.slug]">
                      Abrir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
        <!--          </nb-card-body>-->
        <!--        </nb-card>-->
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-lg-7">
    <!--    <nb-card>-->
    <!--      <nb-card-body>-->

    <nb-tabset (changeTab)="changeTab($event)">
      <nb-tab [tabId]="0" tabTitle="Estatísticas" *ngIf="!isTeacher && false">
        <nb-card>
          <nb-card-header>Exercicios por tópico</nb-card-header>
          <nb-card-body style="width: 100%;">
            <app-echarts-bar></app-echarts-bar>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Exercicios por tópico</nb-card-header>
          <nb-card-body style="width: 100%;">
            <app-echarts-bar></app-echarts-bar>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab [tabId]="1" tabTitle="Resultados" *ngIf="isTeacher">
        <app-users-results-tables [authorities]="authorities"
                                  [moduleId]="course.modules[0].id"></app-users-results-tables>
      </nb-tab>
      <nb-tab [tabId]="2" tabTitle="Classificações" [nbSpinner]="loadingCourseRank" nbSpinnerStatus="info"
              nbSpinnerSize="giant" style="min-height: 100px;">
        <app-course-rank [courseRank]="courseRank"
                         *ngIf="(courseRank && courseRank?.length > 0) && !loadingCourseRank"></app-course-rank>
        <app-not-found-card
          *ngIf="(!courseRank || courseRank?.length === 0) && !loadingCourseRank"></app-not-found-card>
      </nb-tab>
    </nb-tabset>

    <!--      </nb-card-body>-->
    <!--    </nb-card>-->
  </div>
</div>
