<div class="row">
  <div class="col-12 col-lg-4">
    <nb-card [status]="'info'">
      <nb-card-header>Cefet AED2-202-ERE</nb-card-header>
      <nb-card-body>
        <nb-user size="giant"
                 [title]="course.teacher.email"
                 [name]="course.teacher.login"
                 [picture]="course.teacher.imageUrl"
        >
        </nb-user>
        <hr>
        <small>Módulos</small>
        <nb-card class="mt-2">
          <!--                    <nb-card-header>Modules</nb-card-header>-->
          <nb-card-body>
            <nb-list style="max-height: 500px;overflow: auto;">
              <nb-list-item *ngFor="let module of course?.modules" class="d-block">
                <div class="row">
                  <div class="col-4 text-left">
                    <p style="padding-bottom: 0;margin-bottom: 0">{{ module.alias }}</p>
                    <!--                    <small>Aaa</small>-->
                  </div>
                  <div class="col-8 text-right">
                    <button nbButton class="m-1" size="small" *ngIf="isTeacher">
                      <span class="d-none d-sm-block">Gerenciar</span>
                      <nb-icon class="d-block d-sm-none" icon="diagonal-arrow-right-up-outline"></nb-icon>
                    </button>
                    <button nbButton class="m-1" size="small" *ngIf="authorities"
                            (click)="oi(sF.routeAuthSwitch(authorities,true)+'classroom/course/'+course.slug+'module/'+module.alias)"
                            [routerLink]="['/'+sF.routeAuthSwitch(authorities,true)+'classroom/course',course.slug,'module',module.discipline.slug]">
                      <span class="d-none d-sm-block">Abrir</span>
                      <nb-icon icon="diagonal-arrow-right-up-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-lg-8">
    <nb-card>
      <nb-card-body>

        <nb-tabset>
          <nb-tab tabTitle="Estatísticas" *ngIf="!isTeacher && false">
            <nb-card>
              <nb-card-header>Exercicios por tópico</nb-card-header>
              <nb-card-body style="width: 100%;">
                <app-echarts-bar></app-echarts-bar>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>Exercicios por tópico</nb-card-header>
              <nb-card-body style="width: 100%;">
                <app-echarts-bar></app-echarts-bar>
              </nb-card-body>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Resultados" *ngIf="isTeacher">
          </nb-tab>
          <nb-tab tabTitle="Classificações">
            <app-course-rank [courseId]="course.id" ></app-course-rank>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </div>
</div>
