.psize{
  font-size: 13px;
}
.banner{
  margin: -36px;
  background-image: url("https://www.xtrafondos.com/wallpapers/mecha-kingdoms-garen-prestige-edition-4497.jpg");
  height: 350px;
  background-position: top;
  background-size: cover;
}
