<div class="clearfix layout-content">
  <app-changed-user-alert></app-changed-user-alert>
  <!--  <nb-card>-->

  <h4>Dashboard</h4>
  <hr>
  <section>
    <!--    <nb-card-body [nbSpinner]="loadingSummary" nbSpinnerStatus="info" nbSpinnerSize="giant" style="min-height: 100px;">-->
    <div class="row" *ngIf="summary">
      <div class="col-xxxl-3 col-md-6">
        <app-card [color]="'info'" [title]="summary.totalCourses?.toString()" [subTitle]="'Cursos'"
                  [icon]="'book-outline'"></app-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <app-card [color]="'success'" [title]="summary.totalModules?.toString()" [subTitle]="'Módulos'"
                  [icon]="'bookmark-outline'"></app-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <app-card [color]="'info'" [title]="summary.totalTopics?.toString()" [subTitle]="'Tópicos'"
                  [icon]="'archive-outline'"></app-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <app-card [color]="'warning'" [title]="summary.totalExercises?.toString()" [subTitle]="'Exercícios'"
                  [icon]="'book-open-outline'"></app-card>
      </div>
    </div>
  </section>
  <section class="mt-3">
    <!--    </nb-card-body>-->
    <!--  </nb-card>-->
    <!--  <nb-card>-->
    <!--    <nb-card-body>-->
    <h5 class="mb-3">Cursos</h5>
    <!--  <hr style="background-color: #29292e">-->
    <!--      <div class="row">-->
    <!--        <div class="col-12  text-right">-->
    <!--          <button size="tiny" nbButton outline status="info" class="m-1"-->
    <!--                  (click)="openAddPublicCourseDialog()">-->
    <!--            <nb-icon icon="plus-outline"></nb-icon>-->
    <!--            treinamento-->
    <!--          </button>-->
    <!--          <button size="tiny" nbButton outline status="info" class="m-1"-->
    <!--                  (click)="openAddPublicCourseDialog(true)">-->
    <!--            <nb-icon icon="plus-outline"></nb-icon>-->
    <!--            curso-->
    <!--          </button>-->
    <!--          <span *ngIf="isTeacher" class="m-1">-->
    <!--        <button size="tiny" nbButton outline status="info" [hidden]="isParticipating"-->
    <!--                (click)="isParticipating = !isParticipating;getCourses();">-->
    <!--          Participando-->
    <!--        </button>-->
    <!--        <button size="tiny" nbButton outline status="info" [hidden]="!isParticipating"-->
    <!--                (click)="isParticipating = !isParticipating;getCourses();">-->
    <!--          Lecionando-->
    <!--        </button>-->
    <!--        </span>-->
    <!--          <span class="m-1">-->
    <!--        <button size="tiny" nbButton outline status="info" [hidden]="showAll"-->
    <!--                (click)="showAll = !showAll;getCourses();">-->
    <!--          Exibir Tudo-->
    <!--        </button>-->
    <!--        <button size="tiny" nbButton outline status="info" [hidden]="!showAll"-->
    <!--                (click)="showAll = !showAll;getCourses();">-->
    <!--          Exibir Ativos-->
    <!--        </button>-->
    <!--          </span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <nb-tabset>-->
    <!--        <nb-tab tabTitle="Cursos" [nbSpinner]="loadingCourse" nbSpinnerStatus="info" nbSpinnerSize="giant"-->
    <!--                style="min-height: 100px;">-->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let course of courses; let i = index">
        <nb-card class="course-card border-bottom">
          <nb-card-header class="border-0 mb-4">
            <nb-user [name]="course.name"></nb-user>
            <!--                  {{course.name}}-->
          </nb-card-header>
          <nb-card-body>
            <p style="color: rgb(168, 168, 179);">{{course.description}}</p>
<!--            <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course?.modules?.length"-->
<!--                    [text]="'Módulos: '+course?.modules?.length"></nb-tag>-->
<!--            <nb-tag size="tiny" status="info" appearance="outline" class="m-1" *ngIf="course.amountTopics"-->
<!--                    [text]="'Tópicos: '+course.amountTopics"></nb-tag>-->
<!--            <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course.amountExercises"-->
<!--                    [text]="'Exercícios: '+course.amountExercises"></nb-tag>-->
            <!--                <span class="badge badge-info">Módulos: {{course?.modules?.length}}</span>-->
            <!--                <span class="badge badge-info m-1">Tópicos: {{course.amountTopics}}</span>-->
            <!--                <span class="badge badge-info">Exercícios: {{course.amountExercises}}</span>-->
          </nb-card-body>
          <nb-card-footer class="text-right border-0" *ngIf="isTeacher">
            <p><nb-tag  size="tiny" status="info" appearance="outline" *ngIf="course?.modules?.length"
                    [text]="'Módulos: '+course?.modules?.length"></nb-tag>
            <nb-tag size="tiny" status="info" appearance="outline" class="m-3" *ngIf="course.amountTopics"
                    [text]="'Tópicos: '+course.amountTopics"></nb-tag>
            <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course.amountExercises"
                    [text]="'Exercícios: '+course.amountExercises"></nb-tag></p>
            <button size="small" class="m-1" nbButton outline status="info" [routerLink]="['']"
                    *ngIf="isTeacher">Gerenciar
            </button>
            <button size="small" class="m-1" nbButton outline status="info"
                    [routerLink]="['',isTeacher?'teacher':'student','classroom','course',course?.slug]">
              Abrir
            </button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </section>
  <section class="mt-3">
    <h5 class="mb-3">Treinamentos</h5>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let course of trainings">
        <nb-card accent="info" style="background-color: #1b213973">
          <nb-card-header>{{course.name}}</nb-card-header>
          <nb-card-body>
            <p>{{course.description}}</p>
            <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course?.modules?.length"
                    [text]="'Módulos: '+course?.modules?.length"></nb-tag>
            <nb-tag size="tiny" status="info" appearance="outline" class="m-1" *ngIf="course.amountTopics"
                    [text]="'Tópicos: '+course.amountTopics"></nb-tag>
            <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course.amountExercises"
                    [text]="'Exercícios: '+course.amountExercises"></nb-tag>
          </nb-card-body>
          <nb-card-footer class="text-right border-0">
            <button size="small" class="m-1" nbButton outline status="info" [routerLink]="['']"
                    *ngIf="isTeacher">Gerenciar
            </button>
            <button size="small" class="m-1" nbButton outline status="info"
                    [routerLink]="['',isTeacher?'teacher':'student','classroom','course',course?.slug]">
              Abrir
            </button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </section>
  <!--        </nb-tab>-->
  <!--        <nb-tab tabTitle="Treinamentos" [nbSpinner]="loadingTraining" nbSpinnerStatus="info" nbSpinnerSize="giant"-->
  <!--                style="min-height: 100px;">-->
  <!--          <div class="row">-->
  <!--            <div class="col-12 col-md-6 col-lg-4" *ngFor="let course of trainings">-->
  <!--              <nb-card accent="info" style="background-color: #1b213973">-->
  <!--                <nb-card-header>{{course.name}}</nb-card-header>-->
  <!--                <nb-card-body>-->
  <!--                  <p>{{course.description}}</p>-->
  <!--                  <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course?.modules?.length"-->
  <!--                          [text]="'Módulos: '+course?.modules?.length"></nb-tag>-->
  <!--                  <nb-tag size="tiny" status="info" appearance="outline" class="m-1" *ngIf="course.amountTopics"-->
  <!--                          [text]="'Tópicos: '+course.amountTopics"></nb-tag>-->
  <!--                  <nb-tag size="tiny" status="info" appearance="outline" *ngIf="course.amountExercises"-->
  <!--                          [text]="'Exercícios: '+course.amountExercises"></nb-tag>-->
  <!--                </nb-card-body>-->
  <!--                <nb-card-footer class="text-right border-0">-->
  <!--                  <button size="small" class="m-1" nbButton outline status="info" [routerLink]="['']"-->
  <!--                          *ngIf="isTeacher">Gerenciar-->
  <!--                  </button>-->
  <!--                  <button size="small" class="m-1" nbButton outline status="info"-->
  <!--                          [routerLink]="['',isTeacher?'teacher':'student','classroom','course',course?.slug]">-->
  <!--                    Abrir-->
  <!--                  </button>-->
  <!--                </nb-card-footer>-->
  <!--              </nb-card>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </nb-tab>-->
  <!--      </nb-tabset>-->
  <!--    </nb-card-body>-->
  <!--  </nb-card>-->
</div>
