<div class="wrap-table100">
  <div class="scroll">
    <form [formGroup]="mTEForm" *ngIf="mTExercises && mTExercises.length > 0" (ngSubmit)="saveModuleTopicExercise()">
      <div class="table" formArrayName="mTEs">
        <div class="row header">
          <div class="cell" [ngClass]="column.class" *ngFor="let column of tableColumn">
            <span class="label" style="font-size: small">{{column?.title}}</span>
          </div>
        </div>

        <!--      <div class="row" *ngFor="let rank of courseRank">-->
        <!--        <div class="cell" data-title="Usuário">-->
        <!--          <nb-user-->
        <!--            size="large"-->
        <!--            [name]="rank.login"-->
        <!--            [picture]="rank.imageUrl"-->
        <!--          >-->
        <!--          </nb-user>-->
        <!--        </div>-->
        <!--        <div class="cell" data-title="Pontos">-->
        <!--          <p>{{rank.point}}</p>-->
        <!--        </div>-->
        <!--        <div class="cell" data-title="Submissões">-->
        <!--          <p>{{rank.totalSub}}</p>-->
        <!--        </div>-->
        <!--      </div>-->

        <div class="row" *ngFor="let mTE of mTExercises; let i = index" [formGroupName]="i"
        >
          <div class="cell text-left" data-title="Ativado">
            <nb-checkbox formControlName="activated"></nb-checkbox>
          </div>
          <div class="cell text-left" data-title="Permitir submissões">
            <nb-checkbox formControlName="allowSubmit"></nb-checkbox>
          </div>
          <div class="cell text-left" data-title="Permitir Julgamento">
            <nb-checkbox formControlName="allowJudge"></nb-checkbox>
          </div>
          <div class="cell text-left" data-title="Apelido">
            <div class="mr-md-2">
              <input nbInput fullWidth formControlName="alias">
            </div>
          </div>
          <div class="cell text-left" data-title="Nome do exercício">
            <input [hidden]="true" nbInput formControlName="id">
            {{mTE?.exercise?.name}}
          </div>
          <div class="cell text-left" data-title="Dificuldade">
            <input [hidden]="true" nbInput formControlName="id">
            <div class="mr-md-2">
              <nb-select formControlName="difficultyLevel" fullWidth>
                <nb-option [value]="difficultyLevel"
                           *ngFor="let difficultyLevel of difficultiesLevel">{{difficultyLevel}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="cell text-right" data-title="">
            <div class="input-table">
              <button nbButton ghost status="basic" type="submit" (click)="selectedIndex = i">Salvar
              </button>
              <button nbButton ghost status="info" type="button" (click)="selectedIndex = i" [routerLink]="['exercise',mTE.exercise.slug]">
                Detalhes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
