<nb-layout>
  <nb-layout-header [fixed]="true">
    <div class="container">
      <ngx-header></ngx-header>
    </div>
  </nb-layout-header>
<!--  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>-->
<!--    <nb-menu [items]="items"></nb-menu>-->
<!--  </nb-sidebar>-->
  <nb-layout-column>
    <div class="" style="max-width: 1350px;margin: auto;">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

    <nb-layout-footer fixed>
      <div class="container">
        <ngx-footer></ngx-footer>
      </div>

    </nb-layout-footer>

</nb-layout>
