@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3c42;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

.custom-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 90px; /* required */
}

.layout-content {
  max-width: 1350px;
  margin: auto;
}

.badge {
  font-weight: normal;
}

.breadcrumb {
  background-color: unset;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  background-color: nb-theme(hr-background);
}

.fNMGTf {
  color: rgb(168, 168, 179);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 3.2rem;
  font-size: 14px;
}

.fNMGTf a, .fNMGTf span {
  color: inherit;
}

.fNMGTf a:last-child, .fNMGTf span:last-child {
  color: #0095ff;
}

.model-full {
  //width: 60% !important;
  //height: 100% !important;

  //.cdk-visually-hidden {
  //  width: 99% !important;
  //  height: 99% !important;
  //}
  //
  //nb-dialog-container {
  //  width: 100% !important;
  //  height: 100% !important;
  //}
}

.header-title-color {
  color: nb-theme(header-title-color)
}
*{
  scroll-behavior: smooth;
}

.scroll{
  max-height: 600px;
  overflow: auto;
}
