@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
.badge{
  font-weight: normal;
}
.breadcrumb{
  background-color: unset;
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
hr{
  background-color: nb-theme(hr-background);
}
.fNMGTf {
  color: rgb(168, 168, 179);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 3.2rem;
  font-size: 14px;
}
.fNMGTf a, .fNMGTf span {
  color: inherit;
}
.fNMGTf a:last-child, .fNMGTf span:last-child {
  color: #0095ff;
}
