// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,800&display=swap');

$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme((
  //background-basic-color-1: color-basic-700,
  //background-basic-color-2: color-basic-800,
  background-basic-color-3: #fafafa,
  //background-basic-color-4: black,
  layout-padding-top: 2.25rem,
  spinner-primary-background-color: unset,
  spinner-info-background-color: unset,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  list-item-divider-width:0,
  user-initials-text-font-family:'Poppins',
  user-name-text-font-family:'Poppins',
  user-title-text-font-family:'Poppins',
  font-family-primary:'Poppins',
  header-title-color:#8f9bb3
), default, default);

$nb-themes: nb-register-theme((
  spinner-info-background-color: unset,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #252547,
  tabset-divider-color:#29292e,
  hr-background:#29292e,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  list-item-divider-width:0,
  user-initials-text-font-family:'Poppins',
  user-name-text-font-family:'Poppins',
  user-title-text-font-family:'Poppins',
  font-family-primary:'Poppins',
  header-title-color:#8f9bb3
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  spinner-info-background-color: unset,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  list-item-divider-width:0,
  user-initials-text-font-family:'Poppins',
  user-name-text-font-family:'Poppins',
  user-title-text-font-family:'Poppins',
  font-family-primary:'Poppins',
  header-title-color:#8f9bb3
), corporate, corporate);

$nb-themes: nb-register-theme((
  spinner-info-background-color: unset,
  layout-padding-top: 2.25rem,
  background-basic-color-1: #202024,
  background-basic-color-2: #202024,
  background-basic-color-3: #121214,
  background-basic-color-4: #202024,
  border-basic-color-1: #121214,
  border-basic-color-2: #121214,
  border-basic-color-3: #121214,
  border-basic-color-4: #121214,
  border-basic-color-5: #121214,
  list-item-divider-color: none,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  tabset-tab-active-text-color:#0095ff,
  tabset-tab-active-underline-color:#0095ff,
  user-initials-text-font-family:'Poppins',
  user-name-text-font-family:'Poppins',
  user-title-text-font-family:'Poppins',
  font-family-primary:'Poppins',
  tabset-divider-color:#29292e,
  color-primary-700:#121214,
  color-primary-800:#121214,
  color-primary-900:#121214,
  shadow:0 0.5rem 2rem 0 #121214,
  card-hover-background:rgb(41, 41, 46),
  hr-background:#29292e,
  list-item-divider-width:0,
  header-title-color:#8f9bb3
  //header-shadow:#0095ff,
  //slide-out-background: linear-gradient(270deg, #202024 0%, #202024 100%),
  //slide-out-shadow-color: 0 4px 14px 0 #202024,
  //slide-out-shadow-color-rtl: 0 4px 14px 0 #202024,
), dark, dark);

