<div class="row clearfix">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <h3>Teste</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-5 d-none d-lg-block col-xl-3">
    <nb-card>
      <nb-card-body>
        <nb-menu [items]="items"></nb-menu>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-lg-7 col-xl-6">

    <p>
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
      Significado de Texto
      O que é Texto:
      Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem. É
      qualquer obra escrita em versão original e que constitui um livro ou um documento escrito. Um texto é uma
      unidade linguística de extensão superior à frase.

      Em artes gráficas, o texto é a matéria escrita, por oposição a toda a parte iconográfica (ilustrações e
      outros
      elementos). É a parte principal do livro, revista ou periódico, constituída por composição maciça,
      desprovida
      de títulos, subtítulos, epígrafes, fórmulas, tabelas, etc.

      Um texto pode ser codificado, sendo formado de acordo com um código determinado impeditivo da sua leitura
      direta.

      Um texto tem tamanho variável e deve ser escrito com coesão e coerência. Pode ser classificado como
      literário
      e não-literário.

      Os textos literários apresentam uma função estética. Geralmente são escritos em linguagem expressiva e
      poética, com o objetivo de atrair o interesse e emocionar o leitor. O autor segue um determinado estilo e
      usa
      as palavras de forma harmoniosa para expressar as suas ideias. Há uma predominância da função poética e da
      linguagem conotativa (subjetiva). São exemplos de textos literários: romances, poesias, contos, novelas,
      textos sagrados, etc.

      Os textos não-literários possuem função utilitária ao informar e explicar ao leitor de forma clara e
      objetiva.
      São textos informativos sem preocupação estética. Há uma predominância da função referencial e da linguagem
      denotativa (objetiva). São exemplos de textos não-literários: notícias e reportagens jornalísticas, textos
      científicos e didáticos, etc.

      Saiba mais sobre coesão e coerência.

      Texto Narrativo
      Um texto narrativo é um texto que conta uma determinada história. A história é contada por um narrador, que
      pode participar diretamente na história ou não. Um texto narrativo segue uma determinada estrutura.

      Conheça todos os Tipos de Texto.

      Data de atualização: 29/01/2021.
    </p>

  </div>
  <div class="col-12 col-xl-3">
    <nb-card accent="info">
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </div>
</div>
