<div class="header-container">
  <div class="logo-container">
    <!--    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">-->
    <!--      <nb-icon icon="menu-2-outline"></nb-icon>-->
    <!--    </a>-->
    <!--    <a [routerLink]="[('/'+sF.routeAuthSwitch(authorities,true)+'dashboard')]">-->
    <img alt="logo-wok" width="80" src="assets/images/logo-wok.png">
    <!--    </a>-->
    <!--    <a class="logo d-none d-sm-block" href="#" (click)="navigateHome()" style="font-size: 18px;"><strong>Mundo do código</strong></a>-->
  </div>
  <div style="width: 100%;">
    <a *ngIf="accountService.account" class="header-link"
       [routerLink]="[accountService.account.isTeacher()?'teacher':'student','dashboard']">Painel de controle</a>
<!--    <a *ngIf="accountService.account" class="header-link" [routerLink]="['teacher','dashboard']">Seu rendimento</a>-->
    <a *ngIf="!accountService.account" class="header-link" [routerLink]="['auth','login']">Login</a>
    <a *ngIf="!accountService.account" class="header-link" [routerLink]="['auth','register']">Registro</a>
  </div>
  <!--  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">-->
  <!--    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>-->
  <!--  </nb-select>-->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <!--      <nb-search type="rotate-layout"></nb-search>-->
    </nb-action>
    <!--    <nb-action class="control-item" icon="bell-outline"></nb-action>-->
    <!--    <nb-action class="control-item" icon="settings-2-outline"></nb-action>-->
    <nb-action class="control-item" icon="globe-2-outline" [nbContextMenu]="languagesAction" [id]="0"
               nbContextMenuTag="languageMenu"></nb-action>
    <nb-action class="control-item" icon="sun-outline" [nbContextMenu]="items" nbContextMenuTag="themeMenu"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" *ngIf="accountService.account"
               [onlyPicture]="userPictureOnly"
               [name]="accountService?.account?.login"
               [title]="accountService?.account?.email"
               [picture]="accountService?.account?.imageUrl"
               nbContextMenuTag="userMenu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
