<div class="wrap-table100">
  <div class="scroll">
    <form [formGroup]="mTForm" *ngIf="scenarios && scenarios.length > 0" (ngSubmit)="saveScenario()">
      <div class="table" formArrayName="scenarios">
        <div class="row header">
          <div class="cell" [ngClass]="column.class" *ngFor="let column of tableColumn">
            <span class="label" style="font-size: small">{{column?.title}}</span>
          </div>
        </div>
        <div class="row" *ngFor="let scenario of scenarios; let i = index" [formGroupName]="i"
        >
          <div class="cell text-left" data-title="Ativado">
            <nb-checkbox formControlName="activated"></nb-checkbox>
          </div>
          <div class="cell text-left" data-title="Cénario">
            <input [hidden]="true" nbInput formControlName="id">
            {{scenario?.scenario?.name}}
          </div>
          <div class="cell text-left" data-title="Dificuldade">
            <nb-tag appearance="outline" [status]="scenario?.scenario?.getColor()" [text]="scenario?.scenario?.difficultyLevelId"></nb-tag>
          </div>
          <div class="cell text-left" data-title="Mensagem de ajuda" style="white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; max-width: 200px;">
            {{scenario?.scenario?.helpMsg}}
          </div>
          <div class="cell text-right">
            <div class="input-table">
              <button size="small" nbButton ghost status="basic" (click)="selectedIndex = i">Salvar
              </button>
              <button size="small" nbButton ghost status="info" type="button">
                Habilidades
              </button>
              <button size="small" nbButton ghost status="info" type="button">
                Arquivos
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
