
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container high-width">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Recruta, faça seu login e se junte!</h1>
        <h2>Mundo do codigo. programar é divertido!</h2>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/assets/images/logo/logo1.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main" style="background: #fff;">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container high-width">

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="icofont-ui-game"></i></div>
            <h4 class="title"><a href="">Gamificação</a></h4>
            <p class="description">Estudar e praticar geralmente é encarado como algo chato.
              Mas tudo pode ter uma pitada de diversão e ser mais empolgante.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="icofont-support"></i></div>
            <h4 class="title"><a href="">Assistência</a></h4>
            <p class="description">O Mundo do Código é uma plataforma ativa, não somos um simples EAD, mas
              uma tecnologia que te auxilia a aprender entendendo seus erros.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-flag-alt-1"></i></div>
            <h4 class="title"><a href="">Liberdade</a></h4>
            <p class="description">Cada pessoa tem um caminho para de se desenvolver.
              Estimulamos você a encontrar e escolher o seu, adaptado às suas habilidades.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-chart-histogram"></i></div>
            <h4 class="title"><a href="">Evolução</a></h4>
            <p class="description">Ultrapasse os limites do seu professor e evolua continuamente sua
              habilidades.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->
  <section class="featured-services">
    <div class="container high-width">
      <h2 class="text-center h1 my-4">Entenda que fazemos diferente!</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">
        Esqueça as plataformas convencionais, nós somos <b>uma plataforma tecnológica</b> para tutoria online
        de alunos,
        <b>especializada em disciplinas de cursos que envolve lógica computacional</b>.
        <b>Misturamos</b> conceitos de <b>EAD, Gamificação, Maratona de Programação e Tutoria Online</b> em
        uma ferramenta
        que ajuda: <b>o professor a ganhar tempo e conhecer seu aluno</b>;
        e dando ao <b>aluno assistência imediata</b> para <b>desenvolver</b> seus exercícios e <b>seu
        conhecimento</b>
        direcionado para sua evolução pessoal.
      </p>
    </div>
  </section>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container high-width">

      <div class="row">
        <div class="col-lg-6">
          <img src="/assets/images/banner/teacher.png" class="img-fluid" alt="" width="500">
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-check fa-2x cyan-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Correção Automática</h5>
              <p class="grey-text">
                Lembra como é chato fazer um exercícios de programação e quando o
                professor corrige você nem lembra mais oque você tinha feito?
                Aqui todos os exercícios são corrigidos em minutos dando a você noção se está no caminho
                certo.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-comments fa-2x red-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Feedback</h5>
              <p class="grey-text">
                E como é ruim ficar agarrado tentando em uma solução sem saber para onde caminhar...
                Temos um cuidado especial pra de forma imediata te dar o feedback sobre suas soluções.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-chart-line fa-2x red-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Evolução</h5>
              <p class="grey-text">
                Em cada atividade resolvida mostramos como você está evoluindo em cada habilidade do curso,
                mostramos comparativos entre você e as pessoas em volta.
                Mas principalmente mostramos como você pode escolher o seu caminho e evoluir a cada dia.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-code fa-2x red-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Linguagem de Programação</h5>
              <p class="grey-text">
                Promovemos a liberdade para que se possível cada aluno possa se desenvolver na linguagem de
                programação que melhor lhe agrade.
                Nossos exercícios em sua maioria são independentes e supostam mais de 15 linguagens
                diferentes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-users fa-2x indigo-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Gerência</h5>
              <p class="grey-text">
                Com metodologias atuais é quase impossível o professor conhecer seu aluno e como ele se
                desenvolve no curso.
                Nosso dashboard apresenta o perfil do aluno, suas principais habilidades e até deficiências
                que precisam ser desenvolvidas.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-laptop-code fa-2x indigo-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Trabalho Eficiente</h5>
              <p class="grey-text">
                O dia a dia profissional contribui para que a maioria dos professores não possa realizar sua
                tarefa na plenitude.
                Imagine um aluno que faz uma lista de exercícios e o professor não tem o tempo para
                minuciosamente corrigir a lista e descobrir oq
                precisa ser reforçado. Muitas vezes o aluno nem sabe onde errou e vai descobrir somente na
                prova.
                Nós fazemos este trabalho pensando no benefício do ensino.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-signal fa-2x pink-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Atividades Online</h5>
              <p class="grey-text">
                Usando tecnologias de plágio, controle de versão e diversidade de material provemos
                o melhor ambiente online para Atividades Avaliativas quando se trata de cursos de Ciências da
                Computação.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-book fa-2x blue-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Conteúdo</h5>
              <p class="grey-text">
                Provemos sugestões de conteúdos e tópicos para vários assuntos da computação.
                Cada tópico é especialmente desenhado e com um catálogo de exercícios que pode ser
                personalizado para o professor da maneira mais simples possível.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="/assets/images/banner/aluno.png" class="img-fluid" alt="" width="500">
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container high-width">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">6 Cursos</span>
          <p>78 tópicos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">800</span>
          <p>Problemas</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">134</span>
          <p>usuários ativos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">3450</span>
          <p>Submissões de Exercícios</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container high-width">

      <div class="section-title">
        <span>Por que é legal?</span>
        <h2>Por que é legal?</h2>
        <p>Gamificação</p>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-6 d-flex align-items-stretch m-auto">
          <img src="https://miro.medium.com/max/6300/1*kseAAzuGV0ma3kYrg6Xcrw.jpeg" class="img-fluid" alt=""
               width="500">
          <div class="icon-box" style="max-height: 350px;">
            <div style="margin-top: -40px;">
              <div class="row">
                <div class="col-1 mr-1"><i class="fa fa-medal fa-2x indigo-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Competição/Medalhas</h5>
                  <p class="grey-text">
                    Em um ambiente de competição sadia os alunos podem ver sua classificação e ao mesmo tempo
                    entender como podem melhorar.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 mr-1"><i class="fa fa-gamepad fa-2x pink-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Pontos e Desafios</h5>
                  <p class="grey-text">
                    Apesar de ser um ambiente de estudos focamos em continuamente desafiar os alunos a
                    ultrapassarem seus limites.
                    Usando conceitos comuns nos games ele é inspirado a sempre melhorar e dar um passo a mais
                    para aprender mais.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 mr-1"><i class="fa fa-coins fa-2x blue-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Recompensas</h5>
                  <p class="grey-text">
                    Apesar de estar em um ambiente que busca o lúdico suas conquistas são convertidos em
                    pontos
                    reais que serão usados na evolução dos seus cursos e inclusive em oportunidades de
                    trabalho.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
        <!--               <div class="icon-box">-->
        <!--                  <div class="icon"><img src="/assets/images/banner/aluno.png" class="img-fluid" alt="" width="50">-->
        <!--                  </div>-->
        <!--                  <h4><a href="">Lorem Ipsum</a></h4>-->
        <!--                  <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        <!--               </div>-->
        <!--            </div>-->

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container high-width">

      <div class="section-title">
        <span>Um pouco da História e Time</span>
        <h2>Um pouco da História e Time</h2>
        <p>Somos o resultado de uma história de amadurecimento, várias pessoas já estiveram presentes e contribuíram para o que hoje é o Mundo do Código. Somos uma mistura de experiência profissional, acadêmica mas com uma pitada de jovialidade onde quem melhor entende das dificuldades de uma geração é ela mesma</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/assets/images/people/alessio.jpg" alt="">
            <h4>Aléssio M. Jr</h4>
            <span>Fundador</span>
            <p>
              Inovar é uma paixão, mas com embasamento ciêntífico e social.
            </p>
            <p>
              Professor Cefet-MG e Doutorando UFMG.
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/assets/images/people/alex.jpg" alt="" width="200">
            <h4>Alex E. L. de Paulo</h4>
            <span>BackEnd</span>
            <p>
              Estratégias de tratamento e provisão de dados em uma API abertas.
            </p>
            <p>
              Estudante Eng. de Computação e Técnico em Desenvolvimento de Sistema pelo Cefet-MG.
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/assets/images/people/pedro.jpg" alt="">
            <h4>Pedro Lucas S. Ferreira</h4>
            <span>FrontEnd</span>
            <p>
              Design interação e como aproximar pessoas em um ambiente divertido
            </p>
            <p>
              Técnico em Desenvolvimento de Sistema pelo Cefet-MG.
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/assets/images/people/lorena.jpg" alt="" width="200">
            <h4>Lorena Souza Moreira</h4>
            <span>Gestora de Conteúdo</span>
            <p>
              Impactada pelas formas tradicionais de ensino quero mudar a vida dos novos estudantes.
            </p>
            <p>
              Técnica em Desenvolvimento de Sistema pelo Cefet-MG.
            </p>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container high-width">

      <div class="section-title">
        <span>Contato</span>
        <h2>Contato</h2>
        <p>Nós queremos mudar a realidade na sua Escola ou Universidade.
          Entre em contato para que possamos enviar uma demonstração.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Rua 19 de Novembro, 19, Centro Norte, Timóteo-MG, BR</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>contato@mundodocodigo.com.br</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+55 31 9.8830-0100</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.0528871089205!2d-42.6509759824154!3d-19.53934286919497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5513536f9ea41%3A0xc91ff8936e18da04!2sR.%20Dezenove%20de%20Novembro%2C%2019%20-%20Centro%2C%20Tim%C3%B3teo%20-%20MG%2C%2035180-008!5e0!3m2!1sen!2sbr!4v1616429093468!5m2!1sen!2sbr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container high-width">

      <div class="row  justify-content-center">
        <div class="col-lg-6">
          <h3>eNno</h3>
          <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
        </div>
      </div>

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>

      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </div>

  <div class="container high-width footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>eNno</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
